@media (max-width: 1200px) {
  .resume__myfoto {
    display: none;
  }
}

@media (max-width: 1000px) {
  .header__link {
    margin: 0;
  }

  .portfolio-wrap {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .intro {
    height: 650px;
  }
  .intro__name {
    font-size: 70px;
  }
  .intro__prof {
    font-size: 30px;
  }
  .resume__experience-education {
    display: block;
  }
  .resume__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .certificate__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
    width: 350px;
  }
  .certificate__img {
    width: 350px;
  }

  .footer__social-icon {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 768px) {
  .myfoto {
    width: 200px;
    height: 200px;
  }
  .myfoto__img {
    width: 215px;
    top: -60px;
    left: -10px;
  }
  .portfolio__photo-img {
    height: 200px;
  }
  .header__link {
    font-size: 20px;
    margin: 0 30px;
  }
  .intro__name {
    font-size: 45px;
  }
  .intro__prof {
    font-size: 20px;
  }
  .title {
    font-size: 40px;
  }
  .resume__title {
    font-size: 40px;
  }
  .title__color-size {
    font-size: 25px;
  }
  .certificate__item {
    width: 400px;
  }
  .certificate__img {
    width: 400px;
  }
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__item {
    margin-bottom: 10px;
    margin-right: 0;
  }
}



@media (max-width: 635px) {
  .header__nav {
    display: none;
  }
  .header__nav {
    padding-top: 60px;
    background: rgba(0, 62, 109, 0.8);
    font-size: 20px;
  }
  .header__nav.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__link {
    padding: 10px 0;
    margin: 0;
    width: 100%;
    text-align: center;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
  }
  .header__link:hover {
    background: #065A98;
  }
  .header__link::after {
    margin: 0;
  }
  .header__link:hover::after {
    width: 0%;
  }
  .burger__menu {
    display: block;
  }
  .intro__name {
    font-size: 45px;
  }
  .arrow__link-icon {
    width: 55px;
  }

  .portfolio-wrap {
    grid-template-columns: 1fr;
  }
  .portfolio__photo-img {
    height: 310px;
  }
}

@media (max-width: 480px) {
  .burger__menu {
    padding-left: 0;
    margin-left: -17px;
  }
  .title {
    font-size: 40px;
  }
  .title__color-size {
    font-size: 26px;
  }
  .resume__work, .resume__study {
    padding-bottom: 10px;
  }
  .myfoto {
    width: 180px;
    height: 180px;
  }
  .myfoto__img {
    width: 205px;
    top: -65px;
    left: -18px;
  }
  .intro__name {
    font-size: 37px;
  }
  .intro__prof {
    font-size: 16px;
  }
  .resume {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .resume__title {
    font-size: 40px;
    text-align: center;
  }
  .resume__time {
    font-size: 16px;
  }
  .certificate__container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .certificate__item,
  .certificate__img {
    width: 340px;
  }

  .footer__name {
    font-size: 18px;
  }
  .footer__item {
    font-size: 16px;
  }
  .footer__social-icon {
    width: 22px;
    height: 22px;
  }
  .footer__social-link {
    margin-right: 18px;
  }
  .footer__content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer__container {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .myfoto {
    width: 150px;
    height: 150px;
  }
  .myfoto__img {
    width: 170px;
    top: -53px;
    left: -13px;
  }
  .intro__name {
    font-size: 30px;
  }
  .intro__prof {
    font-size: 18px;
  }
  .arrow__link-icon {
    width: 40px;
  }
  .portfolio__photo-img {
    height: 180px;
  }
}
